.App {
    text-align: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
    color: white;
    background-color: rgb(116, 206, 186);
}

.nav-item {
    justify-content: end;
    color: black;
}

.navbar {
    background-color: rgb(116, 206, 186); 
}

a {
    color: black;
}
.page {
    height: 100vh;
    width: 100%;
    background-color: rgb(116, 206, 186);
}

.home {
    background-color: rgb(116, 206, 186);
}

.img-container {
    max-width: 80%;
}

img {
    max-width: 100%;
    border-radius: 12px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 90%;
}

.textbox {
    padding-left: 2em;
    text-align: left;
}

.btn-outline-primary {
    color:black;
    border-color: black;
}

.btn-outline-primary:hover {
    color: white;
    background-color: black;
    border-color: black;
}